.App {
  text-align: center;
  font-family: sans-serif;
  margin: 2rem;
}


.container{
  display: grid;
  margin: 2rem;
  padding: 2rem 10rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2rem;
  box-shadow: 0 0 5px 0 ; 
  background: inherit; 
  backdrop-filter: blur(5px); 


}

.logo{
  display: flex;
  justify-content: center;
}

.heading{
  margin-top: 2rem;
}

.white{
  color: whitesmoke;
}

button{
  display: inline-flex !important;
  align-items: center;
}